<% if @board.errors.any?  %>
  <ul>
    <% @board.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



<%= form_for(@board) do |f| %>

<div class="field">
  <%= f.label :title, "board name:" %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :intro, "board description:" %>
  <%= f.text_area :intro %>
</div>

<%= f.submit "submit" %>
<% end %>
<h1> <%= link_to "back", boards_path %> </h1>
