<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h1>首頁看板</h1> <h1><%= link_to "新增看板", new_board_path %></h1>
<!-- <a href="<%= new_board_path %>"> 新增看板 </a> -->


  <ul>
    <% @boards.each do |board| %>
    <div class="field">
      <li>
        <%= link_to board.title, board_path(board) %>
        <%= link_to "edit", edit_board_path(board) %>
        <%= link_to "刪除", board_path(board), method: 'delete', data: { confirm: '確認刪除?'} %>
      </li>

    </div>

    <% end %>

  </ul>


</body>
</html>
