


<h1><%= @board.title %> board</h1>
<h2>版主 <%= display_bm(@board) %> </h2>
<h1><%= link_to "add post", new_board_post_path(@board) %></h1>

<% @board.posts.each do |post| %>

<div class= "field">
<%= link_to post.title , post_path(post)%>
<%= post.content %>
</div>
<% end %>

<h1> <%= link_to "首頁", boards_path %> </h1>
