


<h1> <%= @board.title %>board </h1>


<h1><%= link_to "favorite", favorites_path %></h1>
<h1 data-controller="heart" data-heart-board="<%= @board.id %>">

  <button data-action="click->heart#favorite">
     <% if @board.favorited_by?(current_user) %>
       <i class="fas fa-heart" data-target="heart.heart"></i>
     <% else %>
       <i class="far fa-heart" data-target="heart.heart"></i>
     <% end %>
   </button>
</h1>

<h2>版主 <%= display_bm(@board) %> </h2>
<h2><%= link_to "add post", new_board_post_path(@board) %></h2>

<% @board.posts.each do |post| %>

<div class= "field">
<%= post.display_username %>
<%= link_to post.title , post_path(post)%>
<%= link_to "edit", edit_post_path(post) %>
</div>
<% end %>

<h1> <%= link_to "首頁", boards_path %> </h1>
