
<%= link_to "add post", new_board_post_path(@board) %>

<h1><%= @board.title %> board</h1>
<h2><h2><%= @board.intro %></h2></h2>
<div class="field">

</div>

<% @board.posts.each do |post| %>
<div class= "field">

<%= post.title %>
<%= post.content %>

</div>
<% end %>




<%= link_to "é¦–é ", boards_path %>
